@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Poppins',sans-serif;
  background:#050505;
  color:white;
  overflow-x:hidden;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#ff3131;
  border-radius:20px;
}
.hero-section{
  background:#050505;
  position:relative;
}

.hero-bg{
  position:absolute;
  top:-200px;
  right:-200px;
  width:1000px;
  height:1000px;
  background:#ff1e00;
  border-radius:50%;
  filter:blur(250px);
  opacity:.18;
}

.hero-container{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 8%;
}

.hero-left{
  width:45%;
  z-index:2;
}

.hero-right{
  width:55%;
  display:flex;
  justify-content:center;
  position:relative;
}

.hero-tag{
  color:#ff3b1f;
  letter-spacing:5px;
  font-size:.9rem;
  font-weight:600;
}

.hero-title{
  font-size:8rem;
  line-height:.85;
  font-weight:900;
  margin-top:20px;
}

.hero-outline{
  font-size:8rem;
  line-height:.85;
  font-weight:900;
  color:transparent;
  -webkit-text-stroke:2px white;
}

.hero-desc{
  max-width:550px;
  margin-top:30px;
  color:#a1a1aa;
  font-size:1.15rem;
  line-height:1.8;
}

.hero-buttons{
  display:flex;
  gap:20px;
  margin-top:40px;
}

.primary-btn{
  padding:16px 35px;
  border:none;
  border-radius:50px;
  background:#ff1e00;
  color:white;
  cursor:pointer;
  font-weight:600;
}

.secondary-btn{
  padding:16px 35px;
  border-radius:50px;
  border:1px solid rgba(255,255,255,.2);
  background:transparent;
  color:white;
  cursor:pointer;
}

.hero-socials{
  display:flex;
  gap:25px;
  margin-top:40px;
  font-size:1.6rem;
}

.hero-socials svg{
  cursor:pointer;
  transition:.3s;
}

.hero-socials svg:hover{
  color:#ff1e00;
}

.image-glow{
  position:absolute;
  width:600px;
  height:600px;
  background:#ff1e00;
  border-radius:50%;
  filter:blur(180px);
  opacity:.25;
}

.hero-image{
  width:550px;
  max-width:none;
  padding-top: 20px;
  position:relative;
  z-index:2;
  filter:drop-shadow(0 50px 80px rgba(0,0,0,.7));
}

@media(max-width:1200px){

  .hero-title,
  .hero-outline{
    font-size:6rem;
  }

  .hero-image{
    width:650px;
  }
}

@media(max-width:900px){

  .hero-container{
    flex-direction:column;
    padding-top:120px;
    text-align:center;
  }

  .hero-left,
  .hero-right{
    width:100%;
  }

  .hero-buttons{
    justify-content:center;
  }

  .hero-socials{
    justify-content:center;
  }

  .hero-title,
  .hero-outline{
    font-size:4rem;
  }

  .hero-image{
    width:500px;
  }
}